dotnet/Entity Framework/TPTDBFirstSample/TPTDBFirstSample/obj/
dotnet/Entity Framework/WPF and Entity Framework/obj/
dotnet/EntityFramework Step by step/DatabaseFirst/TestDatabaseFirst/obj/
dotnet/EntityFramework Step by step/ModelFirst - Concurrency/TestModelFirst/obj/
dotnet/LINQ/LINQ Examples/LINQ - Conversion Operators/C#/_ReSharper.ConversionOperators/
dotnet/LINQ/LINQ Examples/LINQ - Custom Sequence Operators/C#/_ReSharper.CustomSequenceOperators/
dotnet/LINQ/LINQ Examples/LINQ - Element Operators/C#/_ReSharper.ElementOperators/
dotnet/LINQ/LINQ/_ReSharper.LINQ/
dotnet/LINQ/LINQ-JonSkeet/LINQ-JonSkeet/_ReSharper.LINQ-JonSkeet/
dotnet/RazorWeb/RazzorWeb/obj/
dotnet/PluralSight/WCF tutorial/GeoLig.Data/obj/
dotnet/PluralSight/WCF tutorial/GeoLib.WindowsHost/bin/
dotnet/PluralSight/WCF tutorial/GeoLib.WindowsHost/obj/
dotnet/PluralSight/WCF tutorial/GeoLib.Services/bin/
dotnet/PluralSight/WCF tutorial/GeoLib.Core/obj/
dotnet/ASP.Net MVC Forms Authentication/Security/obj/
dotnet/Entity Framework/DefiningQuerySample/DefiningQuerySample/bin/
dotnet/Entity Framework/DefiningQuerySample/DefiningQuerySample/obj/
dotnet/Entity Framework/EFwithSProcsSample/EFwithSProcsSample/bin/
dotnet/Entity Framework/EFwithSProcsSample/EFwithSProcsSample/obj/
dotnet/Entity Framework/EntityFramework-DB Binding WPF/WpfApp1/bin/
dotnet/Entity Framework/EntityFramework-DB Binding WPF/WpfApp1/obj/
dotnet/Entity Framework/EnumEFDesigner/EnumEFDesigner/bin/
dotnet/Entity Framework/EnumEFDesigner/EnumEFDesigner/obj/
dotnet/Entity Framework/ModelFirstSample/ModelFirstSample/bin/
dotnet/Entity Framework/ModelFirstSample/ModelFirstSample/obj/
dotnet/Entity Framework/TableSplittingSample/TableSplittingSample/bin/
dotnet/Entity Framework/TableSplittingSample/TableSplittingSample/obj/
dotnet/LINQ/LINQ Examples/LINQ - Aggregate Operators/C#/_ReSharper.AggregateOperators/
dotnet/LINQ/LINQ-JonSkeet/LINQ-JonSkeet/bin/
dotnet/LINQ/LINQ-JonSkeet/LINQ-JonSkeet/obj/
dotnet/Entity Framework/EntityFramework-DB Binding winforms/DB Binding/obj/
dotnet/Entity Framework/MapEntityToTablesSample/MapEntityToTablesSample/bin/
dotnet/Entity Framework/MapEntityToTablesSample/MapEntityToTablesSample/obj/
dotnet/Entity Framework/TPHDBFirstSample/TPHDBFirstSample/bin/
dotnet/Entity Framework/TPHDBFirstSample/TPHDBFirstSample/obj/
dotnet/EntityFramework Step by step/ModelFirst - Master Detail/TestModelFirst/bin/
dotnet/EntityFramework Step by step/ModelFirst - Master Detail/TestModelFirst/obj/
dotnet/EntityFramework Step by step/ModelFirst - ModfyingData/TestModelFirst/obj/
dotnet/EntityFramework Step by step/ModelFirst - QueryBuilder/TestModelFirst/bin/
dotnet/EntityFramework Step by step/ModelFirst - QueryBuilder/TestModelFirst/obj/
dotnet/EntityFramework Step by step/ModelFirst/TestModelFirst/bin/
dotnet/EntityFramework Step by step/ModelFirst/TestModelFirst/obj/
dotnet/EntityFramework Step by step/TestCodeFirst/CodeFirstClasses/bin/
dotnet/EntityFramework Step by step/TestCodeFirst/TestCodeFirst/bin/
dotnet/EntityFramework Step by step/TestCodeFirst/TestCodeFirst/obj/
dotnet/Hangfire/Hangfire.Highlighter/obj/
dotnet/Hangfire/Highlighter/Highlighter/obj/
dotnet/N-Tier/DataService/bin/
dotnet/PluralSight/Design Patterns/_ReSharper.Design Patterns/
dotnet/PluralSight/WCF tutorial/_ReSharper.GeoLib/
dotnet/PluralSight/Design Patterns/Chain Of Responsibility Pattern/bin/
dotnet/PluralSight/Design Patterns/Chain Of Responsibility Pattern/obj/
dotnet/PluralSight/Design Patterns/Command Pattern/obj/
dotnet/PluralSight/Design Patterns/Composite Pattern/bin/
dotnet/PluralSight/Design Patterns/Composite Pattern/obj/
dotnet/PluralSight/Design Patterns/Decorator Pattern/obj/
dotnet/PluralSight/Design Patterns/Facade Pattern/bin/
dotnet/PluralSight/Design Patterns/Facade Pattern/obj/
dotnet/PluralSight/Design Patterns/Factory Pattern/obj/
dotnet/PluralSight/Design Patterns/FlyWeightPattern/bin/
dotnet/PluralSight/Design Patterns/FlyWeightPattern/obj/
dotnet/PluralSight/Design Patterns/IteratorPattern/obj/
dotnet/PluralSight/Design Patterns/LazyPattern/obj/
dotnet/PluralSight/Design Patterns/MediatorPattern/bin/
dotnet/PluralSight/Design Patterns/MediatorPattern/obj/
dotnet/PluralSight/Design Patterns/NullObjectPattern/bin/
dotnet/PluralSight/Design Patterns/NullObjectPattern/obj/
dotnet/PluralSight/Design Patterns/ObserverPattern/obj/
dotnet/PluralSight/Design Patterns/Paint/bin/
dotnet/PluralSight/Design Patterns/Paint/obj/
dotnet/PluralSight/Design Patterns/PrototypePattern/bin/
dotnet/PluralSight/Design Patterns/PrototypePattern/obj/
dotnet/PluralSight/Design Patterns/ServiceLocatorPatttern/bin/
dotnet/PluralSight/Design Patterns/ServiceLocatorPatttern/obj/
dotnet/PluralSight/Design Patterns/SingletonPattern/bin/
dotnet/PluralSight/Design Patterns/SingletonPattern/obj/
dotnet/PluralSight/Design Patterns/State Pattern/bin/
dotnet/PluralSight/Design Patterns/State Pattern/obj/
dotnet/PluralSight/WCF tutorial/GeoLib.Services/obj/
dotnet/PluralSight/WCF tutorial/GeoLib.WebHost/obj/
dotnet/PluralSight/WCF tutorial/GeoLib.Contracts/obj/
dotnet/PluralSight/WCF tutorial/GeoLib.ConsoleHost/bin/
dotnet/PluralSight/WCF tutorial/GeoLib.ConsoleHost/obj/
dotnet/PluralSight/Design Patterns/Visitor/bin/
dotnet/PluralSight/Design Patterns/Visitor/obj/
dotnet/PluralSight/Design Patterns/TemplateMethodPattern/bin/
dotnet/PluralSight/Design Patterns/TemplateMethodPattern/obj/
dotnet/PluralSight/Design Patterns/StrategyPattern/obj/
dotnet/PluralSight/Design Patterns/StrategyPattern/bin/
dotnet/PluralSight/Design Patterns/Builder Pattern/bin/
dotnet/PluralSight/Design Patterns/Builder Pattern/obj/
dotnet/PluralSight/Design Patterns/Bridge Pattern/Bridge Pattern/_ReSharper.Design Patterns/
dotnet/PluralSight/Design Patterns/Bridge Pattern/obj/
dotnet/PluralSight/Design Patterns/Bridge Pattern/bin/
dotnet/PluralSight/Design Patterns/AdapterPattern/obj/
dotnet/N-Tier/WcfServiceLibrary1/obj/
dotnet/N-Tier/PresentationTier/obj/
dotnet/N-Tier/DataService/obj/
dotnet/N-Tier/DataEntityTier/obj/
dotnet/N-Tier/DataAccessTier/bin/
dotnet/N-Tier/DataAccessTier/obj/
dotnet/LINQ/LINQ-JonSkeet/LINQ-JonSkeet-Tests/bin/
dotnet/LINQ/LINQ-JonSkeet/LINQ-JonSkeet-Tests/obj/
dotnet/LINQ/LINQ/bin/Debug/LINQ.exe.config
dotnet/LINQ/LINQ/bin/
dotnet/LINQ/LINQ/obj/
/javascript/fishbone/src/bower_components/webcomponentsjs/nbproject/private/
/javascript/fishbone/src/bower_components/color-picker/nbproject/private/
/javascript/cause-mapping/HTML5Application/nbproject/private/
/javascript/cause-mapping/nbproject/private/