html{
  height: 100%;  
}

body{
    font-family: Arial,Helvetica,sans-serif;
    margin:0px 0px;
    height: calc(100% - 50px);
}

.app{
    width: 100%;
    height: 100%;
    display: flex;
}
.app-title{
    padding: 10px 0px;
    font-size: 28px;
    color:#fff;
    width:100%;
    height:30px;
    background-color: #824ba0;
}
.toolbar{
    width: 250px;
    height: 100%;
    position: relative;
    background-color: #fff;
    border: 1px solid #666;
    box-sizing: border-box;
    overflow:auto;  
}
.canvas {
    width: calc(100% - 250px);
    height: 100%;
    background-color: #dbd9d9;
    margin: 0px 0px;
    border:1px solid #666;
    overflow:auto;
    box-sizing: border-box;
}

.ui-accordion .ui-accordion-header-active{
   background:#262628;
}
.ui-accordion .ui-accordion-content{
    padding:0.4em 0.4em;
}
.diagram-menu vaadin-button{
    padding: .2em 0.2em;
    font-size: 0.8em !important;
    width:110px;
    display:table-cell;
    vertical-align: middle;
    cursor: pointer;
}

.diagram-menu .menu-item{
    display:block;
    height:40px;
    margin: 5px 10px;
}

.font-styles vaadin-button {
    width: 200px;
}

.font-styles .menu-item{
    display:block;
    margin: 5px 10px;
}

.font-styles label {
   font-size: 0.8em; 
}

.font-styles .apply-button, .font-styles .reset-button {
   width: 200px; 
   cursor: pointer;
}


.font-styles .fontColorLabel, .font-styles .strokeColorLabel, .font-styles .fillColorLabel{
    float:left;
}
.font-styles .fontColor, .font-styles .strokeColor, .font-styles .fillColor{
   float:left;
   width:110px; 
   margin:0px 5px 0px 0px;
   cursor: pointer;
}

.graph-settings .menu-item {
    display: table;
    margin: 5px 10px;
}
.graph-settings vaadin-number-field{
    width: 200px;
    padding: 0px 10px 0px 0px;
}
.graph-settings .vertex-shape{
    float:left;
    margin:0px 5px 10px 0px; 
}
.graph-settings input{
    width:25px;
    height:10px;
    display: block;
    float:left;
}
.graph-settings {
   font-size: 0.8em; 
}
.graph-settings .vertex-shape label{
    width: 120px;
}
.graph-settings label{
    width: 250px;
}

.graph-settings .help-button{
    margin-left: 130px;
    cursor:pointer;
}

.graph-settings .apply-button, .graph-settings .reset-button {
   width: 200px; 
}

.tools label {
   font-size: 0.8em; 
}

.tools vaadin-button{
    padding: .2em 0.2em;
    font-size: 0.8em !important;
    width:150px;
    vertical-align: middle;
    cursor: pointer;
}

.tools .menu-item{
    display:block;
    text-align: center;
}

.properties-window .colorbox{
    border:1px solid #666;
    width:20px;
    height:20px;
}

#file-input{
    visibility: hidden;
    width:0px;
    height:0px;
}

div.minimalistBlack {
  border: 1px solid #666;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
.divTable.minimalistBlack .divTableCell, .divTable.minimalistBlack .divTableHead {
  border: 1px solid #666;
  padding: 5px 4px;
}
.divTable.minimalistBlack .divTableBody .divTableCell {
  font-size: 13px;
  vertical-align: middle;
}
.divTable.minimalistBlack .divTableHeading {
  background: #CFCFCF;
  background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  border-bottom: 2px solid #666;
}
.divTable.minimalistBlack .divTableHeading .divTableHead {
  font-size: 15px;
  color: #000000;
  text-align: left;
}

/* DivTable.com */
.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}