@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Game Of Life - Administrator App</h1>
</div>

<div class="row">
    <div class="col-md-10">
        <h2>Welcome!</h2>
        <h4>Use this application to manage users, teams, rooms and game sessions.</h4>
    </div>
</div>